APP_NAME=BarbershopBookings
NODE_ENV=Development
PORT=3000

DATABASE_URL=postgresql://user:password@localhost:5432/barbershop_bookings

JWT_ACCESS_SECRET=your-access-secret-key
JWT_ACCESS_EXPIRE=1h
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_REFRESH_EXPIRE=7d
